{% extends 'admin/adminBase.html.twig' %}

{% block body %}
    <h1>Edit an article</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    <br>
    <br>
    <p>
        <a href="/admin/article/{{ article.id }}/delete">Delete this article</a>
    </p>
    <p>
            <a href="{{ path('article_admin_index') }}">Back to the list</a>
    </p>


{% endblock %}
