{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concession</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ concession.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ concession.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ concession.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ concession.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ concession.ville }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ concession.tel }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ concession.mail }}</td>
            </tr>
            <tr>
                <th>Nomducontact</th>
                <td>{{ concession.nomDuContact }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ concession.actif }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('concession_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('concession_edit', { 'id': concession.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
