{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehicledefinitions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicleDefinition in vehicleDefinitions %}
            <tr>
                <td><a href="{{ path('vehicledefinition_show', { 'id': vehicleDefinition.id }) }}">{{ vehicleDefinition.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vehicledefinition_show', { 'id': vehicleDefinition.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vehicledefinition_edit', { 'id': vehicleDefinition.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehicledefinition_new') }}">Create a new vehicleDefinition</a>
        </li>
    </ul>
{% endblock %}
