{% extends 'admin/adminBase.html.twig' %}

{% block body %}
<h1>Auto park list</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Definition name</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Version</th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vehicleDefinition in vehicleDefinitions %}
            <tr>
                <td>{{ vehicleDefinition.id }}</td>
                <td>{{ vehicleDefinition.nom }}</td>
                <td>{{ vehicleDefinition.version.model.marque }}</td>
                <td>{{ vehicleDefinition.version.model }}</td>
                <td>{{ vehicleDefinition.version }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('vehicledefinition_edit', { 'id': vehicleDefinition.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    <a class="btn btn-primary" href="{{ path('vehicledefinition_new') }}">Create a vehicule</a>
</p>
{% endblock %}

