{% extends 'admin/adminBase.html.twig' %}

{% block body %}
    <div class="container">

        <h1>Création d'un véhicule</h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.nom, 'Nom technique du véhicule (Marque-Modèle-Finition)') }}
            {{ form_widget(form.nom, {'attr':{class:'form-control'}}) }}
            {{ form_errors(form.nom) }}
        </div>

        <div class="form-group">
            {{ form_label(form.marque, 'Marque') }}
            {{ form_widget(form.marque, {'attr':{class:'form-control'}}) }}
            {{ form_errors(form.marque) }}
        </div>
        <!-- si la marque n'existe pas on va la créer via le formulaire marque_new -->
        <p>
            <a class="btn btn-success" href="{{ path('marque_new') }}">créer une marque</a>
        </p>

        <div class="form-group">
            {{ form_label(form.model, 'Modèle') }}
            {{ form_widget(form.model, {'attr':{class:'form-control'}}) }}
            {{ form_errors(form.model) }}
        </div>
        <!-- si le modèle n'existe pas on va le créer via le formulaire model_new -->
        <p>
            <a class="btn btn-success" href="{{ path('model_new') }}">créer un modèle</a>
        </p>

        <div class="form-group">
            {{ form_label(form.version, 'Version') }}
            {{ form_widget(form.version, {'attr':{class:'form-control'}}) }}
            {{ form_errors(form.version) }}
        </div>
        <!-- si la version n'existe pas on va la créer via le formulaire version_new -->
        <p>
            <a class="btn btn-success" href="{{ path('version_new') }}">créer une version</a>
        </p>

        <div class="form-group">
            {{ form_label(form.options, 'Sélectionnez les options disponibles pour ce véhicule :') }}
            {{ form_widget(form.options) }}
            {{ form_errors(form.options) }}
        </div>

        <p>
            <input class="btn btn-primary" type="submit" value="créer cette définition de véhicule" />
        </p>
        {{ form_end(form) }}

        <p>
            <a href="{{ path('vehicledefinition_index') }}">Retour au menu admin</a>
        </p>

    </div>
{% endblock %}
