{% extends 'admin/adminBase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/login.css') }}">
{% endblock %}


{% block body %}


<section class="section">
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                   {{ form_start(form) }}
                        <div class="login-brand">
                            Création d'un véhicule
                        </div>
                   

                    <div class="card card-primary ">
                        {{ form_errors(form) }}
                        <div class="card-body register">

                                    {#-----------------------------------------GLOBAL-----------------------------------------#}

                                    <div>
                                        <label for="marque">Brand</label>
                                        {{ form_widget(form.marque) }}
                                        {{ form_errors(form.marque) }}

                                    </div>

                                    <!-- si la marque n'existe pas on va la créer via le formulaire marque_new -->
                                    <p>
                                        <a class="btn btn-success" href="{{ path('marque_new') }}">Create a brand</a>
                                    </p>

                                    <div>
                                        <label for="modele">Model</label>
                                        {{ form_widget(form.model) }}
                                        {{ form_errors(form.model) }}
                                    </div>

                                    <!-- si le modèle n'existe pas on va le créer via le formulaire model_new -->
                                    <p>
                                        <a class="btn btn-success" href="{{ path('model_new') }}">Create a model</a>
                                    </p>

                                    <div>
                                        <label for="version">Version</label>
                                        {{ form_widget(form.version) }}
                                        {{ form_errors(form.version) }}
                                    </div>

                                    <!-- si la version n'existe pas on va la créer via le formulaire version_new -->
                                    <p>
                                        <a class="btn btn-success" href="{{ path('version_new') }}">Create a version</a>
                                    </p>


                                    <div>
                                        <label for="dateNaissance">Give a name to this vehicle</label>
                                        {{ form_widget(form.nom) }}
                                        {{ form_errors(form.nom) }}
                                    </div>
                                    
                                    {{ form_widget(form._token) }}
                                    <div class="form-group col-12">
                                         <input class="btn btn-success btn-block" type="submit" value="créer cette définition de véhicule" style="margin-top: 2vh"/>
                                    </div>

                                    <div class="form-group col-12">
                                        <a href="{{ path('article_index') }}" class="btn btn-primary btn-block">Back to vehicle list</a>
                                    </div>

                                </div>
                          {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>





    
{% endblock %}
