{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehiclephystatut</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehiclePhyStatut.id }}</td>
            </tr>
            <tr>
                <th>Available</th>
                <td>{{ vehiclePhyStatut.disponible }}</td>
            </tr>
            <tr>
                <th>Sold</th>
                <td>{{ vehiclePhyStatut.vendu }}</td>
            </tr>
            <tr>
                <th>In trial</th>
                <td>{{ vehiclePhyStatut.enEssai }}</td>
            </tr>
            <tr>
                <th>Deleted by seller</th>
                <td>{{ vehiclePhyStatut.retireParLeVendeur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehiclephystatut_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vehiclephystatut_edit', { 'id': vehiclePhyStatut.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
