{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorieoption</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorieOption.id }}</td>
            </tr>
            <tr>
                <th>Exterieuretchassis</th>
                <td>{{ categorieOption.exterieurEtChassis }}</td>
            </tr>
            <tr>
                <th>Interieur</th>
                <td>{{ categorieOption.interieur }}</td>
            </tr>
            <tr>
                <th>Securite</th>
                <td>{{ categorieOption.securite }}</td>
            </tr>
            <tr>
                <th>Autre</th>
                <td>{{ categorieOption.autre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorieoptions_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorieoptions_edit', { 'id': categorieOption.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
