{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bdvs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bdv in bdvs %}
            <tr>
                <td><a href="{{ path('bdv_show', { 'id': bdv.id }) }}">{{ bdv.id }}</a></td>
                <td>{{ bdv.nom }}</td>
                <td>{% if bdv.actif %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bdv_show', { 'id': bdv.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bdv_edit', { 'id': bdv.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bdv_new') }}">Create a new bdv</a>
        </li>
    </ul>
{% endblock %}
