{% extends 'base.html.twig' %}

{% block body %}
    <h1>Livraisons list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Dateha</th>
                <th>Datelivraisonprevisionnelle</th>
                <th>Datelivraisoneffective</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td><a href="{{ path('livraison_show', { 'id': livraison.id }) }}">{{ livraison.id }}</a></td>
                <td>{{ livraison.reference }}</td>
                <td>{% if livraison.dateHA %}{{ livraison.dateHA|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if livraison.dateLivraisonPrevisionnelle %}{{ livraison.dateLivraisonPrevisionnelle|date('Y-m-d') }}{% endif %}</td>
                <td>{% if livraison.dateLivraisonEffective %}{{ livraison.dateLivraisonEffective|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('livraison_show', { 'id': livraison.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('livraison_edit', { 'id': livraison.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('livraison_new') }}">Create a new livraison</a>
        </li>
    </ul>
{% endblock %}
