{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/cartClient.css') }}">
{% endblock %}

{% block body %}


<div class="text-center">
   <h1>Votre Panier</h1>
<div>   


{% for cart in cart %}


<div class="container">
  <div class="row border">

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Marque</th>
                <th scope="col">Modèle</th>
                <th scope="col">Version</th>
                <th scope="col">Kilometrage</th>
                <th scope="col">Prix HT</th>
                <th scope="col">Photo</th>
            </tr>
            </thead>
            
                    <tbody>
                    <tr>
                        <td>{{ cart.vehiculePhysique.version.model.marque }}</td>
                        <td>{{ cart.vehiculePhysique.version.model }}</td>
                        <td>{{ cart.vehiculePhysique.version }}</td>
                        <td>{{ cart.vehiculePhysique.kilometrage }} km</td>
                        <td>{{ cart.vehiculePhysique.prixHT }} $</td>
                        <td><a href="#myModal" role="button" ><img src="/images/photosVehiculePhysique/{{ cart.vehiculePhysique.imageName }}" width="80" height="auto"></a></td>
                    </tr>
                    </tbody>
           
        </table>
    </div>


  </div>
</div>    




{% else %}

<h4>Votre panier est vide</h4>

{% endfor %}




<div class="container price delete">
  <div class="row">




        <h6><strong>Prix totale HT:</strong> {{ prixHtTotal }} $</h6>

 </div>

 <hr>

   <div class="row">

        <h6><strong>Prix totale avec taxes:</strong> {{ prixHtTotal * 1.19 }} $</h6>

   </div>

<hr>

  <div class="row">

        <a class="btn btn-primary" href="{{ path('clearCart') }}" role="button">Supprimer le cart</a>

  </div>




</div> 




   
{% endblock %}






{% block javascripts %}




{% endblock %}