{% extends "base.html.twig"%}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/user.css') }}">
    <link rel="stylesheet" href="{{ asset('build/head_admin.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}


{% block body %}

    <!-- Elements Universels de la page InfoProfile -->

    <div class="container">
        <div class="row" style="display: flex;" id="cardForUser">
            <div id="profil" class="col-6 card">
                <div class="card-header">
                    <h3>My Profile</h3>
                </div>
                <p class="connect"> Last connexion : {{ app.user.lastLogin|date("d/m/Y") }}</p>
                <ul>
                    <li><span>Firsntame :</span> {{ app.user.nom }}</li>
                    <li><span>Lastname :</span> {{ app.user.prenom }}</li>
                    <li><span>Adress :</span> {{ app.user.adresse }} {{ app.user.codePostal }} {{ app.user.ville }}</li>
                    <li><span>Phone :</span> {{ app.user.numeroTelephone }}</li>
                    <li><span>Email:</span> {{ app.user.email }}</li>
                </ul>
            </div>

            <div id="actions" class="col-6 card">
                <div class="card-header">
                    <h3>My Actions</h3>
                </div>
                <a href="/profile/edit"><button type="submit" class="btn btn-primary">Modify my profile</button></a>
                <a href="/userBase"><button type="submit" class="btn btn-primary">My profile</button></a>
                <a href="{{ path('fos_user_security_logout') }}"><button type="submit" class="btn btn-primary">Logout</button></a>
            </div>
        </div>
    </div>

{% endblock %}