{% extends "admin/adminBase.html.twig"%}

{% block body %}


    <div class="container" >

        <h1 style="text-align: center">Informations  </h1>
        <div class="row" style="display: flex;">


            <div class="col card">
                <ul style="list-style-type: none">

                    <li><h2>Personal informations</h2></li>
                    <li><h6>Company:</h6> {{ user.societe }}</li>
                    <li><h6>Firstname:</h6> {{ user.prenom }}</li>
                    <li><h6>Lastname: </h6> {{ user.nom }}</li>
                    <li><h6>Adress: </h6> {{ user.adresse }}</li>
                    <li><h6>Postal code: </h6> {{ user.codePostal }}</li>
                    <li><h6>City: </h6> {{ user.ville }}</li>
                    <li><h6>Email: </h6> {{ user.email }}</li>
                    <li><h6>Phone: </h6> {{ user.numeroTelephone }}</li>

                </ul>

            </div>

            {% if user.concession != null %}
            <div class="col card">
                <ul style="list-style-type: none">
                    <li><h2>Informations</h2></li>
                    <li><h6>Dealership:  </h6><br>
                            {{ user.concession.nom }}<br>
                            {{ user.concession.adresse }}<br>
                            {{ user.concession.codePostal }}
                            {{ user.concession.Ville }}
                    </li>
                    <li><h6>Member since:</h6> {% if user.dateCreationProfil %}{{ user.dateCreationProfil|date('d-m-Y') }}{% endif %}</li>
                </ul>
            </div>
            {% endif %}
        </div>

            <div style="display: flex">
                <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary" style="width: 50%">Modify</a>
                <a href="{{ path('user_index') }}" class="btn btn-success" style="width: 50%">Back to the users list</a>
            </div>

    </div>




{% endblock %}
