{% extends 'admin/vendeurBase.html.twig' %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            <h1>Car Inventory</h1>


            <h3>Online vehicles</h3>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Dealer</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Model</th>
                        <th scope="col">Version</th>
                        <th scope="col">Uploaded</th>
                        <th scope="col">Km</th>
                        <th scope="col">First Owner Reported</th>
                        <th scope="col">Price(No taxes)</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vehPhy in vehPhys %}
                        {% if vehPhy.validationStatut == 'Validé' %}
                            <tr>
                                <td>{{ vehPhy.concession.nom }}</td>
                                <td>{{ vehPhy.version.model.marque }}</td>
                                <td>{{ vehPhy.version.model }}</td>
                                <td>{{ vehPhy.version }}</td>
                                <td>{{ vehPhy.dateMiseEnLigne|date('d-m-Y') }}</td>
                                <td>{{ vehPhy.kilometrage|number_format(2, '.', ',') }}km</td>
                                <td>{% if vehPhy.dateDeMiseEnCirculation %}{{ vehPhy.dateDeMiseEnCirculation|date('m-Y') }}{% endif %}</td>
                                <td>${{ vehPhy.prixHT|number_format(2, '.', ',') }}</td>
                                <td><a href="#myModal" role="button" ><img src="/images/photosVehiculePhysique/{{ vehPhy.imageName }}" width="80" height="auto"></a></td>
                                <td>
                                    <a class="btn btn-primary" href="{{ path('vehiculephysique_edit', { 'id': vehPhy.id }) }}">Modify</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <p>
                <a class="btn btn-primary" href="{{ path('vehiculephysique_new') }}">Create a vehicle</a>
            </p>
        </div>
    </div>



{% endblock %}



 


{% block javascripts %}
   
{% endblock %}