{% extends 'admin/vendeurBase.html.twig' %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}

<h1>My customers</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>

            <tr>
                <th>Reference</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>City</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>

            </thead>

            <tbody>

            {% for client in clients %}

                    <tr>
                        <td>{{client.referenceClient}}</td>
                        <td>{{client.nom}}</td>
                        <td>{{client.prenom}}</td>
                        <td>{{client.ville}}</td>
                        <td>{{client.numeroTelephone}}</td>
                        <td><a href="{{ path('vendeurUserHistoric', {referenceClient: client.referenceClient }) }}" class="btn btn-primary" value="{{ client.referenceClient }}">Past purchases</a></td>
                    </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>



{% endblock %}



{% block javascripts %}
   
{% endblock %}