{% extends 'admin/vendeurBase.html.twig' %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}


<h1>Mes clients</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>

            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Référence</th>
            </tr>g

            </thead>

            <tbody>

            {% for client in clients %}

                    <tr>
                        <td>{{client.user.nom}}</td>
                        <td>{{client.user.prenom}}</td>
                        <td>{{client.user.adresse}}</td>
                        <td>{{client.user.ville}}</td>
                        <td>{{client.user.numeroTelephone}}</td>
                        <td>{{client.user.referenceClient}}</td>
                    </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}



 


{% block javascripts %}
   
{% endblock %}