

{% block stylesheets %}
  
{% endblock %}

{% block body %}


    {{ form_start(form) }}
        {{ form_widget(form) }}
        
    {{ form_end(form) }}



{# Pour les ventes totales #}
<h4>Vente Totale de Vehicules: {{venteTotalesCompte}}</h4>

{% for venteTotales in venteTotales %}
  <h6>Date de vente: {{ venteTotales.dateMiseAuPanier|date('Y-m-d')}}</h6>
    {% for vehiculePhysiques in venteTotales.vehiculePhysiques %}
      <p>Vehicule : {{ vehiculePhysiques.version.model.marque.nom }} {{ vehiculePhysiques.version.model.nom }} {{ vehiculePhysiques.version.nom }}</p>
    {% endfor %}
{% endfor %}
{# Fin ventes totales #}

<hr>

{# Ventes annuelles #}

<h4>Ventes annuelles</h4>

{% for venteAnnuelles in venteAnnuelles %}


  <h6>Date de vente: {{ venteAnnuelles.dateMiseAuPanier|date('Y-m-d')}}</h6>
    {% for vehiculePhysiques in venteAnnuelles.vehiculePhysiques %}
      <p>Vehicule : {{ vehiculePhysiques.version.model.marque.nom }} {{ vehiculePhysiques.version.model.nom }} {{ vehiculePhysiques.version.nom }}</p>
    {% endfor %}

{% endfor %}

{# Fin ventes annuelles #}


<hr>

{# Ventes par trimestres #}

<h4>Vente par trimestres</h4>


{# Ventes 1er trimestre #}

<h5>Vente du premier trimestre</h5>

{% for venteTrimUn in venteTrimUn %}

  <h6>Date de vente: {{ venteTrimUn.dateMiseAuPanier|date('Y-m-d')}}</h6>
    {% for vehiculePhysiques in venteTrimUn.vehiculePhysiques %}
      <p>Vehicule : {{ vehiculePhysiques.version.model.marque.nom }} {{ vehiculePhysiques.version.model.nom }} {{ vehiculePhysiques.version.nom }}</p>
    {% endfor %}

{% else %}

<p> pas de ventes ce trimestre </p>

{% endfor %}


{# Fin ventes 1er trimestre #}

{# Ventes 2eme trimestre #}

<h5>Vente du deuxiemme trimestre</h5>

{% for venteTrimDeux in venteTrimDeux %}

  <h6>Date de vente: {{ venteTrimDeux.dateMiseAuPanier|date('Y-m-d')}}</h6>
    {% for vehiculePhysiques in venteTrimDeux.vehiculePhysiques %}
      <p>Vehicule : {{ vehiculePhysiques.version.model.marque.nom }} {{ vehiculePhysiques.version.model.nom }} {{ vehiculePhysiques.version.nom }}</p>
    {% endfor %}

{% else %}

<p> pas de ventes ce trimestre </p>

{% endfor %}


{# Fin ventes 2eme trimestre #}


{# Ventes 3eme trimestre #}

<h5>Vente du troisième trimestre</h5>

{% for venteTrimTrois in venteTrimTrois %}

  <h6>Date de vente: {{ venteTrimTrois.dateMiseAuPanier|date('Y-m-d')}}</h6>
    {% for vehiculePhysiques in venteTrimTrois.vehiculePhysiques %}
      <p>Vehicule : {{ vehiculePhysiques.version.model.marque.nom }} {{ vehiculePhysiques.version.model.nom }} {{ vehiculePhysiques.version.nom }}</p>
    {% endfor %}

{% else %}

<p> pas de ventes ce trimestre </p>

{% endfor %}


{# Fin ventes 3eme trimestre #}

{# Ventes 4eme trimestre #}

<h5>Vente du quatrième trimestre</h5>

{% for venteTrimQuatre in venteTrimQuatre %}

  <h6>Date de vente: {{ venteTrimQuatre.dateMiseAuPanier|date('Y-m-d')}}</h6>
    {% for vehiculePhysiques in venteTrimQuatre.vehiculePhysiques %}
      <p>Vehicule : {{ vehiculePhysiques.version.model.marque.nom }} {{ vehiculePhysiques.version.model.nom }} {{ vehiculePhysiques.version.nom }}</p>
    {% endfor %}

{% else %}

<p> pas de ventes ce trimestre </p>

{% endfor %}


{# Fin ventes 4eme trimestre #}


{# Fin ventes trimestres #}

<div class="chart-container" style="position: relative; height:40vh; width:80vw">
<canvas id="trimestre"></canvas>
</div>







{% endblock %}



 


{% block javascripts %}
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>




<script>
var ctx = document.getElementById('trimestre').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ["1er trimestre", "2eme trimestre", "3eme trimestre", "4eme trimestre"],
        datasets: [{
            label: "Ventes par trimestres",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{{chartTrimUn}}, {{chartTrimDeux}}, {{chartTrimTrois}}, {{chartTrimQuatre}}],
        }]
    },

    // Configuration options go here
    options: {}
});
</script>



{% endblock %}