

{% block stylesheets %}
  
{% endblock %}

{% block body %}


{# Pour les ventes totales #}
<h4>Vente Totale de Vehicules: {{venteTotalesCompte}}</h4>

{% for venteTotales in venteTotales %}
  <h6>Date de vente: {{ venteTotales.dateMiseAuPanier|date('Y-m-d')}}</h6>
    {% for vehiculePhysiques in venteTotales.vehiculePhysiques %}
      <p>Vehicule : {{ vehiculePhysiques.version.model.marque.nom }} {{ vehiculePhysiques.version.model.nom }} {{ vehiculePhysiques.version.nom }}</p>
    {% endfor %}
{% endfor %}
{# Fin ventes totales #}

<hr>

{# Ventes annuelles #}

<h4>Ventes annuelles</h4>

{% for venteAnnuelles in venteAnnuelles %}


  <h6>Date de vente: {{ venteAnnuelles.dateMiseAuPanier|date('Y-m-d')}}</h6>
    {% for vehiculePhysiques in venteAnnuelles.vehiculePhysiques %}
      <p>Vehicule : {{ vehiculePhysiques.version.model.marque.nom }} {{ vehiculePhysiques.version.model.nom }} {{ vehiculePhysiques.version.nom }}</p>
    {% endfor %}

{% endfor %}

{# Fin ventes annuelles #}


<hr>

{# Ventes par trimestres #}

<h4>Vente par trimestres</h4>


{# Ventes 1er trimestre #}

<h5>Vente du premier trimestre</h5>

{% for venteTrimUn in venteTrimUn %}

{% if venteTrimUn.dateMiseAuPanier is not null %}

  <h6>Date de vente: {{ venteTrimUn.dateMiseAuPanier|date('Y-m-d')}}</h6>
    {% for vehiculePhysiques in venteTrimUn.vehiculePhysiques %}
      <p>Vehicule : {{ vehiculePhysiques.version.model.marque.nom }} {{ vehiculePhysiques.version.model.nom }} {{ vehiculePhysiques.version.nom }}</p>
    {% endfor %}

{% else %}

<p> pas de ventes ce trimestre petit pd </p>

{% endif %}

{% endfor %}





{# Fin ventes 1er trimestre #}








{# Fin ventes trimestres #}



{% endblock %}



 


{% block javascripts %}
   
{% endblock %}