{% extends 'admin/vendeurBase.html.twig' %}

{% block body %}
    <h1 style="text-align: center; margin-bottom: 8vh; margin-top: 8vh;">Trials validation</h1>

    {{ form_start(edit_form) }}
    <div class="form-group">
        {{ form_label(edit_form.statutMailEssai, 'State of request') }}
        {{ form_widget(edit_form.statutMailEssai, {'attr':{class:'form-control'}}) }}
        {{ form_errors(edit_form.statutMailEssai) }}
    </div>

    <section class="contact-section col-md-12">

        <!-- Form with header -->
        <div class="card">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-12">
                    <div class="card-body form">

                        <!-- Header -->
                        <h3 id="test" class="mt-4"><i class="fa fa-envelope pr-2"></i>Trial request from {{ demandeEssai.dateDemande|date('d-m-Y') }}:</h3>

                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <h6>Request coming from :</h6> <p>{{ demandeEssai.user.nom }} {{ demandeEssai.user.prenom }}</p>
                                </div>
                            </div>

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <h6>Wanted trial date :</h6> <p> {{ demandeEssai.dateEssaiPlanning|date('d-m-Y  H:i:s') }}</p>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <h6>Concerning the vehicle :</h6><img style="max-height: 30vh;" src="/images/photosVehiculePhysique/{{ demandeEssai.vehiculePhysique.imageName }}">
                                    <p>{{ demandeEssai.vehiculePhysique.version.model.marque }} {{ demandeEssai.vehiculePhysique.version.model }} {{ demandeEssai.vehiculePhysique.version }}</p><br>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <h6>Reference : {{ demandeEssai.vehiculePhysique.referenceVehPhy }}</h6>
                                    <h6>Year : {{ demandeEssai.vehiculePhysique.dateDeMiseEnCirculation|date('d-m-Y') }}</h6><br>
                                    <h6>Mileage : {{ demandeEssai.vehiculePhysique.kilometrage }} km </h6> <br>
                                    <h6>Price : {{ demandeEssai.vehiculePhysique.prixHT }} $</h6>
                                </div>
                            </div>
                        </div>

                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <h6> Message :</h6> <p> {{ demandeEssai.commentaireClient }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>
        <!-- Form with header -->
    </section>


    <div class="col-md-12" style="display: flex">
        <input class="btn btn-primary" type="submit" value="Enregistrer les modifications"/>
        {{ form_row(edit_form._token) }}
        {{ form_end(edit_form, {'render_rest': false}) }}
        <p>
            <a class="btn btn-success" href="{{ path('demandeessai_index') }}">Back to the trial request list</a>
        </p>
    </div>

{% endblock %}
