{% extends 'base.html.twig' %}

{% block body %}
    <h1>Version</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ version.id }}</td>
            </tr>
            <tr>
                <th>Nale</th>
                <td>{{ version.nom }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{% if version.actif %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Thpower</th>
                <td>{{ version.puissanceTh }}</td>
            </tr>
            <tr>
                <th>Hypower</th>
                <td>{{ version.puissanceHy }}</td>
            </tr>
            <tr>
                <th>Elpower</th>
                <td>{{ version.puissanceEl }}</td>
            </tr>
            <tr>
                <th>ThAutonomy</th>
                <td>{{ version.autonimieTh }}</td>
            </tr>
            <tr>
                <th>HyAutonomy</th>
                <td>{{ version.autonomieHy }}</td>
            </tr>
            <tr>
                <th>ElAutonomy</th>
                <td>{{ version.autonomieEl }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('version_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('version_edit', { 'id': version.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
