{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/ficheProduit.css') }}">

{% endblock %}

{% block body %}
<!--
    {#
    <div class="container">
          <div class="row">
                {% for voiturephy in voiturephy %}
                <div class="hero">
                    <h1>{{ voiturephy.version.model.marque }} {{ voiturephy.version.model }} {{ voiturephy.version }}</h1>
                    <img src="/images/logoModeles/{{ voiturephy.version.model.imageName }}" />
                 <div class="bar">
                 </div>
            </div>
            {% endfor %}
       </div>
    </div>
    #}
-->

<!--Possibilité 2-->

<div class="container" style="padding-top: 30vh">
    <div class="row">

        <div class="col-md-6">
            {% for voiturephy in voiturephy %}
                <img src="/images/photosVehiculePhysique/{{ voiturephy.imageName }}" class="img-fluid" alt="PhotoVehicule" style="border-radius: 20px;">
            {% endfor %}
        </div>

        <div class="col-md-6">

            {% for voiturephy in voiturephy %}
                <h1>{{ voiturephy.version.model.marque }}</h1>
            {% endfor %}

            <p class="lead">
                {% for voiturephy in voiturephy %}
                    <h4>Mise en circulation:
                        {{voiturephy.dateDeMiseEnCirculation|date('Y-m-d')}}</h4>
                {% endfor %}
                {% for voiturephy in voiturephy %}
                    <h4>{{voiturephy.prixHT}}$ HT</h4>
                    <h5>{{voiturephy.kilometrage}}KM</h5>
                {% endfor %}
                {% for voiturephy in voiturephy %}
                   <span class="badge grey mr-1">mise en ligne: {{voiturephy.dateMiseEnLigne|date('Y-m-d')}}</span>
                {% endfor %}

            </p>

            <hr>

            {% for voiturephy in voiturephy %}
                <h6>
                    Vendeur:
                    {{ voiturephy.concession}}</h6>
            {% endfor %}

            <hr>

            {{ form_start(formCart) }}

            {{ form_widget(formCart.AjouterAuPanier, {

                'attr': {'class': 'btn btn-primary'}
            }) }}

            {{ form_end(formCart) }}

            {{ form_start(formEssai) }}
            {{ form_widget(formEssai.DemandeEssai,{
                'attr': {'class': 'btn btn-success'}
            }) }}
            {{ form_end(formEssai) }}

        </div>

    </div>
</div>



        <hr>

        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Descriptif</h4>

                {% for voiturephy in voiturephy %}
                    <p>{{voiturephy.descriptif}}</p>
                {% endfor %}

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Options</h4>

                {% for optionsphy in optionsphy %}
                    <p>-
                        {{optionsphy}}</p>
                {% endfor %}

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                {% for voiturephy in voiturephy %}

                    <h3 class="my-4 h4">{{voiturephy.version.model.marque}}
                        {{voiturephy.version.model}}:
                        {{voiturephy.version.model.typeVehicule}}</h3>

                    <h6>Boite de Vitesse:
                        {{ voiturephy.version.bdv}}</h6>
                    <h6>Transmission:
                        {{ voiturephy.version.transmission}}</h6>
                    <h6>Energie:
                        {{ voiturephy.version.energie}}</h6>

                    <hr>

                    <table cellpadding="65">

                        {% if voiturephy.version.energie == 'Electrique' %}
                            <thead>
                                <tr>
                                    <th>Puissance Electrique</th>
                                    <th>Autonomie electrique</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ voiturephy.version.puissanceEl }}</td>
                                    <td>{{ voiturephy.version.autonomieEl }}</td>
                                </tr>
                            </tbody>
                        {% endif %}

                        {% if voiturephy.version.energie == 'Thermique' %}
                            <thead>
                                <tr>
                                    <th>Puissance Thermique</th>
                                    <th>Autonomie Thermique</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ voiturephy.version.puissanceTh }}</td>
                                    <td>{{ voiturephy.version.autonimieTh }}</td>
                                </tr>
                            </tbody>
                        {% endif %}

                        {% if voiturephy.version.energie == 'Hybride' %}
                            <thead>
                                <tr>
                                    <th>Puissance Thermique</th>
                                    <th>Autonomie Thermique</th>
                                    <th>Puissance Electrique</th>
                                    <th>Autonomie electrique</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ voiturephy.version.puissanceTh }}</td>
                                    <td>{{ voiturephy.version.autonimieTh }}</td>
                                    <td>{{ voiturephy.version.puissanceEl }}</td>
                                    <td>{{ voiturephy.version.autonomieEl }}</td>
                                </tr>
                            </tbody>
                        {% endif %}

                    </table>

                {% endfor %}

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <img src="" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>
{% endblock %}