{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/ficheProduit.css') }}">

{% endblock %}

{% block body %}
<!--
    {#
    <div class="container">
          <div class="row">
                {% for voiturephy in voiturephy %}
                <div class="hero">
                    <h1>{{ voiturephy.version.model.marque }} {{ voiturephy.version.model }} {{ voiturephy.version }}</h1>
                    <img src="/images/logoModeles/{{ voiturephy.version.model.imageName }}" />
                 <div class="bar">
                 </div>
            </div>
            {% endfor %}
       </div>
    </div>
    #}
-->

<!--Possibilité 2-->

<div class="container" style="padding-top: 30vh">
    <div class="row">

        <div class="col-md-6">
            {% for voiturephy in voiturephy %}
                <img src="/images/photosVehiculePhysique/{{ voiturephy.imageName }}" class="img-fluid" alt="PhotoVehicule" style="border-radius: 20px;">
            {% endfor %}
        </div>

        <div class="col-md-6">

            {% for voiturephy in voiturephy %}
                <h1>{{ voiturephy.version.model.marque }} {{ voiturephy.version.model }}</h1>
            {% endfor %}

            <p class="lead">
                {% for voiturephy in voiturephy %}
                    <h4>Date of first circulation:
                        {{voiturephy.dateDeMiseEnCirculation|date('d-m-Y')}}</h4>
                {% endfor %}
                {% for voiturephy in voiturephy %}
                    <h4>${{voiturephy.prixHT|number_format(2, '.', ',')}} HT</h4>
                    <h5>{{voiturephy.kilometrage}}KM</h5>
                {% endfor %}
                {% for voiturephy in voiturephy %}
                   <span class="badge grey mr-1">Online since: {{voiturephy.dateMiseEnLigne|date('d-m-Y')}}</span>
                {% endfor %}

            </p>

            <hr>

            {% for voiturephy in voiturephy %}
                {% if voiturephy.hasCarfax == true %}
            <img src="/images/header/Carfaxlogo3.svg.png" class="img-fluid" alt="PhotoVehicule" style="max-height: 5vh; width: auto">
                {% else %}
                    <h6> CARFAX not available for this vehicle</h6>
                {% endif %}
            {% endfor %}

            <hr>

            {% if user != null %}
            {{ form_start(formCart) }}
            {{ form_widget(formCart.AjouterAuPanier, {
                'attr': {'class': 'btn btn-primary'}
            }) }}

            {{ form_end(formCart) }}
            {% else %}
                <a href="{{ path('fos_user_security_login') }}"><button class="btn btn-primary" type="submit">ADD TO CART</button></a>
            {% endif %}

            {{ form_start(formEssai) }}
            {{ form_widget(formEssai.DemandeEssai,{
                'label': 'REQUEST A TRIAL',
                'attr': {'class': 'btn btn-success'}
            }) }}
            {{ form_end(formEssai) }}

        </div>

    </div>
</div>



        <hr>

        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Description</h4>

                {% for voiturephy in voiturephy %}
                     <h5>{{ voiturephy.version.model.marque }} {{ voiturephy.version.model }} {{ voiturephy.version }}</h5>
                    <p>{{voiturephy.descriptif}}</p>
                {% endfor %}

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Options</h4>



                <!--OPTIONS POUR LA VERSION DU VEHICULE-->
{#
<h3>Options de base de la version:</h3>


 {% for categorie in categoriesOptions %}
     
   {% if categorie.nom == 'Interieur' %}

     <h5>{{categorie.nom}}</h5>
   
        {% for options in versionOptions %}

            {% if options.categorieOption.nom == categorie.nom %}
            
           <p>{{options.nom}}</p>    

            {% endif %}

        {% endfor %}
    
    {% endif %}

{% endfor %}   


 {% for categorie in categoriesOptions %}
     
   {% if categorie.nom == 'Exterieur' %}

     <h5>{{categorie.nom}}</h5>
   
        {% for options in versionOptions %}

            {% if options.categorieOption.nom == categorie.nom  %}
            
           <p>{{options.nom}}</p>   

            {% endif %}

        {% endfor %}
    
    {% endif %}

{% endfor %} 

  {% for categorie in categoriesOptions %}
     
   {% if categorie.nom == 'Securite' %}

     <h5>{{categorie.nom}}</h5>
   
        {% for options in versionOptions %}

            {% if options.categorieOption.nom == categorie.nom %}
            
           <p>{{options.nom}}</p>    

            {% endif %}

        {% endfor %}
    
    {% endif %}

{% endfor %}

    {% for categorie in categoriesOptions %}
     
   {% if categorie.nom == 'Autre' %}

     <h5>{{categorie.nom}}</h5>
   
        {% for options in versionOptions %}

            {% if options.categorieOption.nom == categorie.nom %}
            
           <p>{{options.nom}}</p>    

            {% endif %}

        {% endfor %}
    
    {% endif %}

{% endfor %}


                <!--OPTIONS POUR LE VEHICULE PHYSIQUE-->

                        
<h3>Options en plus de ce véhicule:</h3>
#}



  {% for categorie in categoriesOptions %}

   {% if categorie.nom == 'Interior' %}

     <h5>{{categorie.nom}}</h5>
   
        {% for optionsphy in optionsphy %}

            {% if optionsphy.categorieOption.nom == categorie.nom %}
            
                    <p>{{optionsphy}}</p> 

            {% endif %}

        {% endfor %}
    
    {% endif %}

{% endfor %}

  
    {% for categorie in categoriesOptions %}
     
   {% if categorie.nom == 'Exterior' %}

     <h5>{{categorie.nom}}</h5>
   
        {% for optionsphy in optionsphy %}

            {% if optionsphy.categorieOption.nom == categorie.nom %}
            
                    <p>{{optionsphy}}</p> 

            {% endif %}

        {% endfor %}
    
    {% endif %}

{% endfor %}


    {% for categorie in categoriesOptions %}
     
   {% if categorie.nom == 'Safety' %}

     <h5>{{categorie.nom}}</h5>
   
        {% for optionsphy in optionsphy %}

            {% if optionsphy.categorieOption.nom == categorie.nom %}
            
                    <p>{{optionsphy}}</p> 

            {% endif %}

        {% endfor %}
    
    {% endif %}

{% endfor %}

  {% for categorie in categoriesOptions %}
     
   {% if categorie.nom == 'Other' %}

     <h5>{{categorie.nom}}</h5>
   
        {% for optionsphy in optionsphy %}

            {% if optionsphy.categorieOption.nom == categorie.nom %}
            
                    <p>{{optionsphy}}</p> 

            {% endif %}

        {% endfor %}
    
    {% endif %}

{% endfor %}


                

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                {% for voiturephy in voiturephy %}

                    <h3 class="my-4 h4">{{voiturephy.version.model.marque}}
                        {{voiturephy.version.model}}:
                        {{voiturephy.version.model.typeVehicule}}</h3>

                    <h6>Gearbox:
                        {{ voiturephy.version.bdv}}</h6>
                    <h6>Transmission:
                        {{ voiturephy.version.transmission}}</h6>
                    <h6>Energy:
                        {{ voiturephy.version.energie}}</h6>

                    <hr>

                    <table cellpadding="65">

                        {% if voiturephy.version.energie == 'Electrique' %}
                            <thead>
                                <tr>
                                    <th>Electrical power</th>
                                    <th>Electrical Autonomy</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ voiturephy.version.puissanceEl }}</td>
                                    <td>{{ voiturephy.version.autonomieEl }}</td>
                                </tr>
                            </tbody>
                        {% endif %}

                        {% if voiturephy.version.energie == 'Thermique' %}
                            <thead>
                                <tr>
                                    <th>Thermal power</th>
                                    <th>Thermal autonomy</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ voiturephy.version.puissanceTh }}</td>
                                    <td>{{ voiturephy.version.autonimieTh }}</td>
                                </tr>
                            </tbody>
                        {% endif %}

                        {% if voiturephy.version.energie == 'Hybride' %}
                            <thead>
                                <tr>
                                    <th>Thermal power</th>
                                    <th>Thermal autonomy</th>
                                    <th>Electrical power</th>
                                    <th>Electrical autonomy</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ voiturephy.version.puissanceTh }}</td>
                                    <td>{{ voiturephy.version.autonimieTh }}</td>
                                    <td>{{ voiturephy.version.puissanceEl }}</td>
                                    <td>{{ voiturephy.version.autonomieEl }}</td>
                                </tr>
                            </tbody>
                        {% endif %}

                    </table>

                {% endfor %}

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <img src="" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>
{% endblock %}