{% extends 'admin/adminBase.html.twig' %}

{% block body %}
    <h1>Model's creation</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.marque, 'Brand') }}
        {{ form_widget(form.marque, {'attr':{class:'form-control'}}) }}
        {{ form_errors(form.marque) }}
    </div>

    <div class="form-group">
        {{ form_label(form.nom, 'Model name') }}
        {{ form_widget(form.nom, {'attr':{class:'form-control'}}) }}
        {{ form_errors(form.nom) }}
    </div>

    <div class="form-group">
        {{ form_label(form.typeVehicule, 'Vehicle type') }}
        {{ form_widget(form.typeVehicule, {'attr':{class:'form-control'}}) }}
        {{ form_errors(form.typeVehicule) }}
    </div>

    <div class="form-group">
        {{ form_label(form.imageFile, 'Model image') }}
        {{ form_widget(form.imageFile, {'attr':{class:'form-control'}}) }}
        {{ form_errors(form.imageFile) }}
    </div>

    <div class="form-group">
        {{ form_label(form.actif, 'actif') }}
        {{ form_widget(form.actif) }}
        {{ form_errors(form.actif) }}
    </div>

    <input class="btn btn-primary" type="submit" value="create this model" />
    {{ form_end(form) }}

    <p>
        <a href="{{ path('vehicledefinition_new') }}">Back to create a new vehicle definition</a>
    </p>
{% endblock %}
