{% extends 'base.html.twig' %}
{% block body %}

<section class="jumbotron text-center" id="contactForm">
    <div class="container">
        <div class=" animated fadeInRight ">
            <br><br>
            <hr class="trait">
            <h1 class="titreAccueil text-center text-monospace text-uppercase">Contact us</h1>
            <hr class="trait">
            <br><br>
        </div>
        <p class="lead text-muted">
            Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et obtenir la communication des informations vous concernant, toute demande en ce sens transmise doit être transmise au responsable de traitement
            via l'adresse postale  ou via l'email.
        </p>
        <i data-feather="alert-triangle" style="color:red;"></i> * Required fields.
        <br>
        <br>
        <section class="contact-section col-md-12">

            <!-- Form with header -->
            <div class="card">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-8">
                        {{ form_start(form, { 'attr': {'id': 'info'} } ) }}
                        <div class="card-body form">

                            <!-- Header -->
                            <h3 id="test" class="mt-4"><i class="fa fa-envelope pr-2"></i>Contact us:</h3>

                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.statutContact, { 'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.statutContact) }}
                                    </div>
                                </div>

                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.motifContact, { 'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.motifContact) }}
                                    </div>
                                </div>

                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.nomSteContact, { 'attr': {'class': 'form-control'} }) }}
                                        <label for="form-contact-name" class="nom">Saisissez le nom de votre société</label>
                                        <p id="nom_id" class="text-left red-text animated bounce">Company's name</p>
                                        <p id="nom_valid" class="text-left red-text animated bounce">Please enter a valid company name</p>
                                    </div>
                                </div>

                                <!-- Grid column -->
                                <div class="col-md-2">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.civiliteContact, { 'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.civiliteContact) }}
                                    </div>
                                </div>

                                <!-- Grid column -->
                                <div class="col-md-5">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.nomContact, { 'attr': {'class': 'form-control text-uppercase'} }) }}
                                        <label for="form-contact-name" class="nom">Name</label>
                                        <p id="nom_id" class="text-left red-text animated bounce">Enter your name</p>
                                        <p id="nom_valid" class="text-left red-text animated bounce">Please enter a valid name</p>
                                    </div>
                                </div>

                                <!-- Grid column -->
                                <div class="col-md-5">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.prenomContact, { 'attr': {'class': 'form-control text-capitalize'} }) }}
                                        <label for="form-contact-name" class="">Prénom</label>
                                        <p id="prenom_id" class="text-left red-text animated bounce">Enter firstname</p>
                                        <p id="prenom_valid" class="text-left red-text animated bounce">Please enter a valid name</p>

                                    </div>
                                </div>

                                <!-- Grid column -->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.emailContact, { 'attr': {'class': 'form-control'} }) }}
                                        <label for="form-contact-email" class="">Email</label>
                                        <p id="email_id" class="text-left red-text animated bounce">Enter mail adress</p>
                                        <p id="email_valid" class="text-left red-text animated bounce">Please enter a valid mail adress</p>
                                    </div>
                                </div>

                                <!-- Grid column -->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.phoneContact, { 'attr': {'class': 'form-control'} }) }}
                                        <label for="form-contact-phone" class="">Phone number</label>
                                        <p id="telephone_id" class="text-left red-text animated bounce">Enter your phone number.</p>
                                        <p id="telephone_valid" class="text-left red-text animated bounce">Please enter a valid phone number</p>

                                    </div>
                                </div>
                            </div>

                          <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.adresseContact, { 'attr': {'class': 'form-control', 'placeholder': ""} }) }}
                                        <label for="form-contact-company" class="">Your adress</label>
                                        <p id="adresse_id" class="text-left red-text animated bounce">Please enter your adress</p>

                                    </div>
                                </div>
                            </div>

                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.codePostalContact, { 'attr': {'class': 'form-control', 'placeholder': ""} }) }}
                                        <label for="form-contact-company" class="">Your postal code</label>
                                        <p id="adresse_id" class="text-left red-text animated bounce">Please enter your postal code.</p>

                                    </div>
                                </div>
                            </div>

                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.villeContact, { 'attr': {'class': 'form-control', 'placeholder': ""} }) }}
                                        <label for="form-contact-company" class="">Your city</label>
                                        <p id="adresse_id" class="text-left red-text animated bounce">Enter your city name.</p>

                                    </div>
                                </div>
                            </div>

                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        {{ form_widget(form.messageContact, { 'attr': {'class': 'form-control md-textarea'} }) }}
                                        <label for="form-contact-message">Your message</label>
                                        {{ form_row(form._token) }}
                                        <button type="submit" class="btn btn-outline-primary waves-effect" id="Envoyer">Send <i class="fab fa-telegram-plane"></i></button>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4">
                        <div class="card-body contact text-center h-100 white-text">
                            <h3 class="my-4 pb-2 white-text">Our coordinates</h3>
                            <hr class="hr-light my-4">
                            <ul class="text-lg-left list-unstyled ml-4">
                                <li>
                                    <p class="contact-adresse text-center white-text"><i data-feather="mail"></i> Email :</p>
                                    <p class="contact-adresse text-center white-color">contact@carify.ca</p>
                                </li>
                                <li>
                                    <p class="contact-adresse text-center white-text"><i data-feather="phone"></i> Phone :</p>
                                    <p class="contact-adresse text-center white-color">03 88 81 99 99</p>
                                </li>
                                <li>
                                    <p class="contact-adresse text-center white-text"><i data-feather="map-pin"></i> Adress :</p>
                                    <p class="contact-adresse text-center white-color">Strasbourg, 67000, FRANCE</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            <!-- Form with header -->
        </section>
    </div>
</section>

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-primary">
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}



