{% extends 'admin/adminBase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/listing_render.css') }}">
{% endblock %}

{% block body %}
    <h1>Contact request managing</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Request status</th>
                <th scope="col">Request</th>
                <th scope="col">Motive</th>
                <th scope="col">Company</th>
                <th scope="col">Civility</th>
                <th scope="col">Lastname</th>
                <th scope="col">Firstname</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}

            <tr>
                <td>{{ contact.statutMailContact }}</td>
                <td>{{ contact.statutContact }}</td>
                <td>{{ contact.motifContact }}</td>
                <td>{{ contact.nomSteContact }}</td>
                <td>{{ contact.civiliteContact }}</td>
                <td>{{ contact.nomContact }}</td>
                <td>{{ contact.prenomContact }}</td>
                <td>
                    <p>
                        <a class="btn btn-primary" href="{{ path('contact_show', { 'id': contact.id }) }}">Consult</a>
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
