{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/listing_render.css') }}">
{% endblock %}

{% block body %}
    <h1>Gestion des demandes de contact</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Statut Demande</th>
                <th scope="col">Demande</th>
                <th scope="col">Motif</th>
                <th scope="col">Société</th>
                <th scope="col">Civilité</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}

            <tr>
                <td>{{ contact.statutMailContact }}</td>
                <td>{{ contact.statutContact }}</td>
                <td>{{ contact.motifContact }}</td>
                <td>{{ contact.nomSteContact }}</td>
                <td>{{ contact.civiliteContact }}</td>
                <td>{{ contact.nomContact }}</td>
                <td>{{ contact.prenomContact }}</td>
                <td>
                    <p>
                        <a class="btn btn-primary" href="{{ path('contact_show', { 'id': contact.id }) }}">Consulter</a>
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
