{% extends 'base.html.twig' %}

{% block body %}
    <h1>Delivery mode</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ modeDeLivraison.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ modeDeLivraison.reference }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ modeDeLivraison.nom }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ modeDeLivraison.prix }}</td>
            </tr>
            <tr>
                <th>Average time</th>
                <td>{{ modeDeLivraison.delaiMoyen }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modedelivraison_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('modedelivraison_edit', { 'id': modeDeLivraison.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
