{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typevehicules list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeVehicule in typeVehicules %}
            <tr>
                <td><a href="{{ path('typevehicule_show', { 'id': typeVehicule.id }) }}">{{ typeVehicule.id }}</a></td>
                <td>{{ typeVehicule.nom }}</td>
                <td>{% if typeVehicule.actif %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typevehicule_show', { 'id': typeVehicule.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typevehicule_edit', { 'id': typeVehicule.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typevehicule_new') }}">Create a new typeVehicule</a>
        </li>
    </ul>
{% endblock %}
