{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typevehicule</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeVehicule.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ typeVehicule.nom }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{% if typeVehicule.actif %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typevehicule_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typevehicule_edit', { 'id': typeVehicule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
