{% extends 'admin/adminBase.html.twig' %}

{% block body %}
    <div style="text-align: center">
        <h1>Dealer</h1>
    </div>

    <section class="contact-section col-md-12">

        <!-- Form with header -->
        <div class="card">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-8">
                    <div class="card-body form">

                        <!-- Header -->
                        <div class="row">
                            <div class="md-form mb-0">
                                <h1>{{ concession.nom }}</h1>
                            </div>
                        </div>
                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <h5>Mail : {{ concession.mail }}</h5>
                                </div>
                            </div>

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <h5>Phone : {{ concession.tel }}</h5>
                                </div>
                            </div>

                            <div class="col-md-12" >
                                <div class="md-form mb-0">
                                    <h5>{{ concession.adresse }} <br> {{ concession.codePostal }} {{ concession.ville }}</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4">
                    <div class="card-body contact text-center h-100 white-text">
                        <h3 class="my-4 pb-2 white-text">Contact</h3>
                        <hr class="hr-light my-4">
                        <ul class="text-lg-left list-unstyled ml-4">
                            <li>
                                <p class="contact-adresse text-center white-text">{{ concession.nomDuContact }}</p>
                            </li>
                        </ul>
                        <hr class="hr-light my-4">
                    </div>
                </div>
            </div>
            <!-- Grid row -->
        </div>
        <!-- Form with header -->
    </section>

    <a href="{{ path('concession_edit', { 'id': concession.id }) }}" class="btn btn-success">Edit this dealer</a>
    <a href="{{ path('concession_index') }}" class="btn btn-primary">Back to the dealers list</a>


{% endblock %}
