{% extends extend  %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/login.css') }}">

{% endblock %}
{% block fos_user_content %}

    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="login-brand">
                            Register a new member
                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') == false %}
                        <div class="login-brand">
                            Registration form
                        </div>
                    {% endif %}

                    <div class="card card-primary ">
                        {{ form_errors(form) }}
                        <div class="card-body register">
                            <form method="POST">
                                <div>
                                    {#-----------------------STATUT/ROLES---------------------#}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <div class="row">
                                        <label for="syndic">Status</label>
                                        <div class="row" style="display: flex;">
                                            <div style="margin: 2vw;" >
                                               {{ form_errors(form.roles) }}

                                                {#-----------------------ADMIN---------------------#}
                                                    <div class="admin">
                                                        {{  form_widget(form.roles.0) }}
                                                    </div>
                                                    <div class="vendeur">
                                                        {{  form_widget(form.roles.1) }}
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="OFF">
                                        <label for="nom">Car Dealership</label>
                                        {{ form_widget(form.concession) }}
                                        {{ form_errors(form.concession) }}
                                    </div>
                                    {% endif %}

                                    {#-----------------------------------------GLOBAL-----------------------------------------#}

                                    <div>
                                        <label for="nom">Last Name</label>
                                        {{ form_widget(form.nom) }}
                                        {{ form_errors(form.nom) }}
                                    </div>

                                    <div>
                                        <label for="prenom">First Name</label>
                                        {{ form_widget(form.prenom) }}
                                        {{ form_errors(form.prenom) }}
                                    </div>

                                    <div>
                                        <label for="username">Username</label>
                                        {{ form_widget(form.username) }}
                                        {{ form_errors(form.username) }}
                                    </div>

                                    <div>
                                        <label for="dateNaissance">Birth Date</label>
                                        {{ form_widget(form.dateNaissance) }}
                                        {{ form_errors(form.dateNaissance) }}
                                    </div>

                                    <div>
                                        <label for="tel">Phone</label>
                                        {{ form_widget(form.numeroTelephone) }}
                                        {{ form_errors(form.numeroTelephone) }}
                                    </div>

                                    <div>
                                        <label for="email">Email</label>
                                        {{ form_widget(form.email) }}
                                        {{ form_errors(form.email) }}
                                    </div>

                                    <div >
                                        <label for="plainPassword.first">Password</label>
                                        {{  form_widget(form.plainPassword.first) }}
                                        {{ form_errors(form.plainPassword.first) }}
                                    </div>
                                    <div>
                                        <label for="plainPassword.second">Confirm your password</label>
                                        {{  form_widget(form.plainPassword.second) }}
                                        {{ form_errors(form.plainPassword.second) }}
                                    </div>

                                    {{ form_widget(form._token) }}
                                    <div class="form-group col-12">
                                        <button type="submit" value="enregistrer" class="btn btn-primary btn-block" style="margin-top: 2vh">Save</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock fos_user_content %}

{% block javascripts %}
    <script>
        $(document).ready(function(){

            $(function () {
                $("#fos_user_registration_form_roles_1").click(function () {
                    if ($(this).is(":checked")) {
                        $(".OFF").show();
                    } else {
                        $(".OFF").hide();
                    }
                });
            });
        });

    </script>
{% endblock %}
