{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/comparateur.css') }}">
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script> <!-- Package d'icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

    {% block body %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

        <div class="jumbotron jumbotron-fluid" style="background-image: url('https://tof.cx/images/2018/10/30/748949145857e64f969f8766c663ebbd.jpg'); background-repeat: no-repeat; background-size: cover; height:100vh;">
            <div class="container">
                    <p class="lead"></p>
            </div>
        </div>


        <!------------------------------------------------------ MENU LATERAL ------------------------------------------------->
        <div class="container-fluid">
            <div class="row">
                <div class="vignettes" style="flex-direction: column">

                {% set selectedRechercheGrouped = recherche|batch(3) %}
                {% for group in selectedRechercheGrouped %}
                    {% set panelClass = 'panel--' ~ loop.index %}
                    <div class="col-md-12" >
                        <div class="panel {{ panelClass }}" style="display: flex">
                            {% for entry in group %}
                                <!-- Card Light -->
                                <div class="lightCard">
                                    <!-- Card image -->
                                    <div class="view overlay vehover">
                                        <a href="/comparateur/{{ entry.id }}/show"><img class="card-img-top vehphoto" src="/images/logoModeles/{{ entry.version.model.imageName }}" alt="Card image cap" style="width:100%; height:100%;"></a>
                                    </div>
                                    <!-- Card content -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h6 class="card-title">{{ entry.version.model.marque }} {{ entry.version.model }} {{ entry.version }}</h6>
                                    </div>
                                </div>
                                <br>
                                <!-- Card Light -->
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

    {% endblock %}

{% block javascripts %}

{% endblock %}

