{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/comparateur.css') }}">
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script> <!-- Package d'icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

    {% block body %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <!------------------------------------------------------ MENU LATERAL ------------------------------------------------->
    <div class="container">
        <div class="row">

                {% set selectedMarqueGrouped = marques|batch(6) %}
                {% for group in selectedMarqueGrouped %}
                    {% set panelClass = 'panel--' ~ loop.index %}
            <div class="col-md-12" >
                <div class="panel {{ panelClass }}" style="display: flex">
                        {% for entry in group %}
                        <div class="col-2 ladivJsdeClement" style="text-align: center; cursor : pointer;" id="{{ entry.id }}">
                            <img src="/images/logoMarques/{{ entry.imageName }}" width="80" height="auto"><br>
                            {{ entry.nom }}
                        </div>
                        {% endfor %}
                </div>
            </div>
                    {% endfor %}
            <div class="col-md-12">
                {% for style in styles %}
                    {{ style.nom }}
                {% endfor %}
            </div>
            <div class="col-md-12">
                {% for energy in energies %}
                    {{ energy.nom }}
                {% endfor %}
            </div>
        </div>
        {{ form(form) }}

    </div>

    <!------------------------------------------------------ FIN DU MENU LATERAL ------------------------------------------------->

{% endblock %}

{% block javascripts %}

    <script>
        $('.ladivJsdeClement').on('click', function () {
            console.log( "click" );
            console.log( $(this).attr('id') );
            console.log( $("form[name='appbundle_vehicledefinition']") );

            $('#appbundle_vehicledefinition_save').val($(this).attr('id'));
            $("form[name='appbundle_vehicledefinition']").submit();
        });
    </script>

{% endblock %}