{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">

                <img src="/images/logoMarques/{{ vehicleDefinition.version.model.marque.imageName }}" width="80" height="auto">

                {{ vehicleDefinition.version.model.marque }}

                {{ vehicleDefinition.version.model }}

                {{ vehicleDefinition.version }}

                {# {{ vehicleDefinition.version.prixNeufHT }}           #}
                <!-- A ajouter -->

                {{ vehicleDefinition.version.model.typeVehicule }}

                {{ vehicleDefinition.version.energie }}

                {{ vehicleDefinition.version.puissanceTh }}
                {{ vehicleDefinition.version.puissanceHy }}
                {{ vehicleDefinition.version.puissanceEl }}

                {{ vehicleDefinition.version.autonimieTh }}
                {{ vehicleDefinition.version.autonomieHy }}
                {{ vehicleDefinition.version.autonomieEl }}

                {# {{ vehicleDefinition.version.model.dimensions }}      #}
                <!-- A ajouter -->
                {% for colors in version.couleursDisponibles %}
                    {{ colors.nom }}
                {% endfor %}
                {% for options in version.options %}
                    {{ options.nom }}
                {% endfor %}

                {{ vehicleDefinition.version.transmission }}
                {# {{ vehicleDefinition.version.nbreDePortes }}        #}
                <!-- A ajouter -->
                {# {{ vehicleDefinition.version.nbreDePlaces }}           #}
                <!-- A ajouter -->

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                {% include "pagesCarifyPublic/comparateur/comparateurGauche.html.twig" %}

                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">

                            {% if id2 is defined %}
                                <img src="/images/logoMarques/{{ id2.version.model.marque.imageName }}" width="80" height="auto">

                                {{ id2.version.model.marque }}

                                {{ id2.version.model }}

                                {{ id2.version }}

                                {# {{ vehicleDefinition.version.prixNeufHT }}           #}
                                <!-- A ajouter -->

                                {{ id2.version.model.typeVehicule }}

                                {{ id2.version.energie }}

                                {{ id2.version.puissanceTh }}
                                {{ id2.version.puissanceHy }}
                                {{ id2.version.puissanceEl }}

                                {{ id2.version.autonimieTh }}
                                {{ id2.version.autonomieHy }}
                                {{ id2.version.autonomieEl }}

                                {# {{ vehicleDefinition.version.model.dimensions }}      #}
                                <!-- A ajouter -->
                                {% for colors in version.couleursDisponibles %}
                                    {{ colors.nom }}
                                {% endfor %}
                                {% for options in version.options %}
                                    {{ options.nom }}
                                {% endfor %}

                                {{ vehicle2.version.transmission }}
                                {# {{ vehicleDefinition.version.nbreDePortes }}        #}
                                <!-- A ajouter -->
                                {# {{ vehicleDefinition.version.nbreDePlaces }}           #}
                                <!-- A ajouter -->
                            {% else %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <tbody>
                    <tr>
                        <td>{{ vehicleDefinition.version.model.marque }}</td>
                        <td>Marque</td>
                        <td>{{ id2.version.model.marque }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <tbody>
                    <tr>
                        <td>{{ vehicleDefinition.version.model }}</td>
                        <td>Model</td>
                        <td>{{ id2.version.model }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <tbody>
                    <tr>
                        <td>{{ vehicleDefinition.version.model.typeVehicule }}</td>
                        <td>Type</td>
                        <td>{{ id2.version.model.typeVehicule }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>

<hr>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <tbody>
                    <tr>
                        <td>{{ vehicleDefinition.version.energie }}</td>
                        <td>Energie</td>
                        <td>{{ id2.version.energie }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>

<hr>











<hr>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
      <div class="table-responsive">
      <caption class="text-center">Couleurs</caption>
        <table  class="table table-bordered table-hover">
          <tbody>
            <tr>
              <td>Noir</td>
              <td>lgbt</td>
              </tr>
              <tr>
               <td>Bleu</td>
              <td>Rose</td>
            </tr>
          </tbody>
          </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>










{% endblock %}

{% block javascripts %}{% endblock %}