{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehiclesvalidationstatut</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehiclesValidationStatut.id }}</td>
            </tr>
            <tr>
                <th>test</th>
                <td>{{ vehiclesValidationStatut.brouillon }}</td>
            </tr>
            <tr>
                <th>Awaiting validation</th>
                <td>{{ vehiclesValidationStatut.enAttenteDeValidation }}</td>
            </tr>
            <tr>
                <th>Online</th>
                <td>{{ vehiclesValidationStatut.enLigne }}</td>
            </tr>
            <tr>
                <th>Denied</th>
                <td>{{ vehiclesValidationStatut.refuse }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehiclesvalidationstatut_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vehiclesvalidationstatut_edit', { 'id': vehiclesValidationStatut.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
