{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehiculephysiques list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Version</th>
                <th>Datemiseenligne</th>
                <th>Datedevente</th>
                <th>Kilometrage</th>
                <th>Datedemiseencirculation</th>
                <th>Prixht</th>
                <th>Prixttc</th>
                <th>Prixha</th>
                <th>Descriptif</th>
                <th>Imagename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehiculePhysique in vehiculePhysiques %}
            <tr>
                <td>{{ vehiculePhysique.version.model.marque }}</td>
                <td>{{ vehiculePhysique.version.model }}</td>
                <td>{{ vehiculePhysique.version }}</td>
                <td><a href="{{ path('vehiculephysique_show', { 'id': vehiculePhysique.id }) }}">{{ vehiculePhysique.id }}</a></td>
                <td>{% if vehiculePhysique.dateMiseEnLigne %}{{ vehiculePhysique.dateMiseEnLigne|date('Y-m-d') }}{% endif %}</td>
                <td>{% if vehiculePhysique.dateDeVente %}{{ vehiculePhysique.dateDeVente|date('Y-m-d') }}{% endif %}</td>
                <td>{{ vehiculePhysique.kilometrage }}</td>
                <td>{% if vehiculePhysique.dateDeMiseEnCirculation %}{{ vehiculePhysique.dateDeMiseEnCirculation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ vehiculePhysique.prixHT }}</td>
                <td>{{ vehiculePhysique.prixTTC }}</td>
                <td>{{ vehiculePhysique.prixHA }}</td>
                <td>{{ vehiculePhysique.descriptif }}</td>
                <td>{{ vehiculePhysique.imageName }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('vehiculephysique_edit', { 'id': vehiculePhysique.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <p>
            <a class="btn btn-primary" href="{{ path('vehiculephysique_new') }}">Créer un véhicule</a>
        </p>
{% endblock %}

