{% extends 'admin/adminBase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/listing_render.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-12">
        <h1>Liste du Parc Auto</h1>


        <h3>Véhicules en ligne</h3>

                <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Concession</th>
                                    <th scope="col">Marque</th>
                                    <th scope="col">Modèle</th>
                                    <th scope="col">Version</th>
                                    <th scope="col">Mise en ligne</th>
                                    <th scope="col">Kilometrage</th>
                                    <th scope="col">Mise en circulation</th>
                                    <th scope="col">Prixht</th>
                                    <th scope="col">Photo</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for vehiculePhysique in vehiculePhysiques %}
                            {% if vehiculePhysique.validationStatut == 'Validé' %}
                                <tr>
                                    <td>{{ vehiculePhysique.concession.nom }}</td>
                                    <td>{{ vehiculePhysique.version.model.marque }}</td>
                                    <td>{{ vehiculePhysique.version.model }}</td>
                                    <td>{{ vehiculePhysique.version }}</td>
                                    <td>{{ vehiculePhysique.dateMiseEnLigne|date('d-m-Y') }}</td>
                                    <td>{{ vehiculePhysique.kilometrage }}</td>
                                    <td>{% if vehiculePhysique.dateDeMiseEnCirculation %}{{ vehiculePhysique.dateDeMiseEnCirculation|date('d-m-Y') }}{% endif %}</td>
                                    <td>{{ vehiculePhysique.prixHT }}</td>
                                    <td><a href="#myModal" role="button" ><img src="/images/photosVehiculePhysique/{{ vehiculePhysique.imageName }}" width="80" height="auto"></a></td>
                                    <td>
                                        <a class="btn btn-primary" href="{{ path('vehiculephysique_edit', { 'id': vehiculePhysique.id }) }}">Modifier le véhicule</a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                </div>

         <p>
            <a class="btn btn-primary" href="{{ path('vehiculephysique_new') }}">Créer un véhicule</a>
         </p>
    </div>
</div>
{% endblock %}

