{% extends 'admin/vendeurBase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/listing_render.css') }}">
{% endblock %}

{% block body %}
    <h1>Liste du Parc Auto</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Etat</th>
                <th scope="col">Marque</th>
                <th scope="col">Modèle</th>
                <th scope="col">Version</th>
                {% for vehiculePhysique in vehiculePhysiques %}
                {% if vehiculePhysique.dateMiseEnLigne %}
                <th scope="col">Datemiseenligne</th>
                {% endif %}
                {% endfor %}
                <th scope="col">Kilometrage</th>
                <th scope="col">Datedemiseencirculation</th>
                <th scope="col">Prixht</th>
                <th scope="col">Photo</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehiculePhysique in vehiculePhysiques %}
            <tr>
                <td>{% if vehiculePhysique.validationStatut %}{{ vehiculePhysique.validationStatut }}{% else %}En attente de validation{% endif %}</td>
                <td>{{ vehiculePhysique.version.model.marque }}</td>
                <td>{{ vehiculePhysique.version.model }}</td>
                <td>{{ vehiculePhysique.version }}</td>
                {% if vehiculePhysique.dateMiseEnLigne %}<td>{{ vehiculePhysique.dateMiseEnLigne|date('Y-m-d') }}</td>{% endif %}
                <td>{{ vehiculePhysique.kilometrage }}</td>
                <td>{% if vehiculePhysique.dateDeMiseEnCirculation %}{{ vehiculePhysique.dateDeMiseEnCirculation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ vehiculePhysique.prixHT }}</td>
                <td><a href="#myModal" role="button" ><img src="/images/photosVehiculePhysique/{{ vehiculePhysique.imageName }}" width="80" height="auto"></a></td>
                <td>
                    <a class="btn btn-primary" href="{{ path('vehiculephysique_edit', { 'id': vehiculePhysique.id }) }}">Modifier le véhicule</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        <p>
            <a class="btn btn-primary" href="{{ path('vehiculephysique_new') }}">Créer un véhicule</a>
        </p>
{% endblock %}

