{% extends 'admin/vendeurBase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/listing_render.css') }}">
{% endblock %}

{% block body %}
    <h1>Liste du Parc Auto</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Version</th>
                <th>Datemiseenligne</th>
                <th>Kilometrage</th>
                <th>Datedemiseencirculation</th>
                <th>Photo</th>
                <th>Prixht</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehiculePhysique in vehiculePhysiques %}
            <tr>
                <td>{{ vehiculePhysique.version.model.marque }}</td>
                <td>{{ vehiculePhysique.version.model }}</td>
                <td>{{ vehiculePhysique.version }}</td>
                <td>{% if vehiculePhysique.dateMiseEnLigne %}{{ vehiculePhysique.dateMiseEnLigne|date('Y-m-d') }}{% endif %}</td>
                <td>{{ vehiculePhysique.kilometrage }}</td>
                <td>{% if vehiculePhysique.dateDeMiseEnCirculation %}{{ vehiculePhysique.dateDeMiseEnCirculation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ vehiculePhysique.prixHT }}</td>
                <td><a href="#myModal" role="button" ><img src="/images/photosVehiculePhysique/{{ vehiculePhysique.imageName }}" width="100" height="auto"></a></td>
                <td>
                    <a class="btn btn-primary" href="{{ path('vehiculephysique_edit', { 'id': vehiculePhysique.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        <p>
            <a class="btn btn-primary" href="{{ path('vehiculephysique_new') }}">Créer un véhicule</a>
        </p>
{% endblock %}

