{% extends 'admin/vendeurBase.html.twig' %}

{% block body %}
    <div class="container">

        <h1>Car creation</h1>

        {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.marque, 'Brand') }}
                {{ form_widget(form.marque, {'attr':{class:'form-control'}}) }}
                {{ form_errors(form.marque) }}
            </div>

            <div class="form-group">
                {{ form_label(form.model, 'Model') }}
                {{ form_widget(form.model, {'attr':{class:'form-control'}}) }}
                {{ form_errors(form.model) }}
            </div>

            <div class="form-group">
                {{ form_label(form.version, 'Version') }}
                {{ form_widget(form.version, {'attr':{class:'form-control'}}) }}
                {{ form_errors(form.version) }}
            </div>

            <div class="form-group">
                {{ form_label(form.codeVIN, 'VIN code') }}
                {{ form_widget(form.codeVIN) }}
                {{ form_errors(form.codeVIN) }}
            </div>

            <div class="form-group">
                {{ form_label(form.hasCarfax, 'CARFAX Available ?') }}
                {{ form_widget(form.hasCarfax) }}
                {{ form_errors(form.hasCarfax) }}
            </div>

            <div class="form-group">
                {{ form_label(form.dateDeMiseEnCirculation, 'Date of first circulation') }}
                {{ form_widget(form.dateDeMiseEnCirculation) }}
                {{ form_errors(form.dateDeMiseEnCirculation) }}
            </div>

            <div class="form-group">
                {{ form_label(form.kilometrage, 'True mileage') }}
                {{ form_widget(form.kilometrage) }}
                {{ form_errors(form.kilometrage) }}
            </div>

            <div class="form-group">
                {{ form_label(form.descriptif, 'Vehicle description') }}
                {{ form_widget(form.descriptif, {'attr':{class:'form-control'}}) }}
                {{ form_errors(form.descriptif) }}
            </div>

            <div class="form-group">
                {{ form_label(form.prixha, 'Price when bought') }}
                {{ form_widget(form.prixha, {'attr':{class:'form-control'}}) }}
                {{ form_errors(form.prixha) }}
            </div>

            <div class="form-group">
                {{ form_label(form.prixht, 'Price (no taxes)') }}
                {{ form_widget(form.prixht, {'attr':{class:'form-control'}}) }}
                {{ form_errors(form.prixht) }}
            </div>

            <div class="form-group">
                {{ form_label(form.prixttc, 'Price with taxes') }}
                {{ form_widget(form.prixttc, {'attr':{class:'form-control'}}) }}
                {{ form_errors(form.prixttc) }}
            </div>

            <div class="form-group">
                {{ form_label(form.imageFile, 'Main photo of vehicle ') }}
                {{ form_widget(form.imageFile) }}
                {{ form_errors(form.imageFile) }}
            </div>
        <p>
            <input class="btn btn-success" type="submit" value="Validate and set options" style="width: 30%;"/>
        </p>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}

       <p>
            <a class="btn btn-primary" href="{{ path('vehiculevendeur_validation_index') }}" style="width: 30%;">Back to  validations</a>
       </p>

    </div>
{% endblock %}
