{% extends 'admin/adminBase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/listing_render.css') }}">
{% endblock %}

{% block body %}

    <h1>Upload validation</h1>

    {{ form_start(validation_form) }}
    <div class="form-group">
        {{ form_label(validation_form.statut, 'Online :') }}
        {{ form_widget(validation_form.statut, {'attr':{class:'form-control'}}) }}
        {{ form_errors(validation_form.statut) }}
    </div>


    <section class="contact-section col-md-12">

        <!-- Form with header -->
        <div class="card">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-8">
                    <div class="card-body form">

                        <!-- Header -->
                        <h3 id="test" class="mt-4"><i class="fa fa-envelope pr-2"></i>Validation request:</h3>

                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <h6>Dealer :</h6> <p>{{ vehiculePhysique.concession }}</p>

                                </div>
                            </div>

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <h6>Mileage :</h6> <p> {{ vehiculePhysique.kilometrage }}</p>
                                </div>
                            </div>

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <h6>Date when first circulated :</h6> <p> {{ vehiculePhysique.dateDeMiseEnCirculation|date('Y-m-d') }}</p>
                                </div>
                            </div>

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <h6> Price NoTax / W.taxes :</h6> <p> {{ vehiculePhysique.prixht }} / {{ vehiculePhysique.prixttc }}</p>
                                </div>
                            </div>
                        </div>

                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <h6> Description :</h6> <p> {{ vehiculePhysique.descriptif }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <h6> Options :</h6>
                                        <p>- </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-lg-4">
                    <div class="card-body contact text-center h-100 white-text">
                        <h3 class="my-4 pb-2 white-text">Vehicle photo</h3>
                        <hr class="hr-light my-4">
                        <ul class="text-lg-left list-unstyled ml-4">
                            <li>
                                <p class="contact-adresse text-center white-text"><i data-feather="mail"></i>{{ vehiculePhysique.version.model.marque }} {{ vehiculePhysique.version.model }} {{ vehiculePhysique.version }}</p>
                                <p class="contact-adresse text-center white-color"><img src="/images/photosVehiculePhysique/{{ vehiculePhysique.imageName }}" width="250" height="auto"></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Form with header -->
    </section>


    <input class="btn btn-primary" type="submit" value="Edit" />
    {{ form_end(validation_form) }}

    <p>
        <a class="btn btn-success" href="{{ path('vehiculephysique_index') }}">Back to vehicle list</a>
    </p>
{% endblock %}
