<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Carify Admin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        <title>{% block title %}Welcome Admin{% endblock %}</title>
        {% block stylesheets %}
      
        {% endblock %}

                 <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="{{ asset('build/adminPanelTwo.css') }}">
                 <!-- Font Awesome CSS-->
        <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
                  <!-- Fontastic Custom icon font-->
        <link rel="stylesheet" href="css/fontastic.css">
                <!-- Google fonts - Roboto -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
                <!-- jQuery Circle-->
        <link rel="stylesheet" href="css/grasp_mobile_progress_circle-1.0.0.min.css">
                <!-- Custom Scrollbar-->
        <link rel="stylesheet" href="vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
                <!-- theme stylesheet-->
        <link rel="stylesheet" href="{{ asset('build/adminPanel.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        <link rel="stylesheet" href="{{ asset('build/header.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script> <!-- Package d'icons -->
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <link rel="icon" type="image/x-icon" href="/images/header/Carify_LogoAccueil.png" />
    </head>
    
        {% block header %}
        
        <body>
             <!-- Side Navbar -->
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
            <div class="sidenav-header-inner text-center" style="background-color: white;border-radius: 100vw;padding: 0.3vw;margin-right: 1vw"><img src="/images/header/Carify_LogoAccueil.png">
            </div>
            <div>
                <p style="color: white;font-weight: bold">Admin</p>
            </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">ADMINISTRATION</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled"> 
            <li><i class="icon-home"></i>User</li>
              <li><a href="{{ path('concession_new') }}"> <i class="icon-grid"></i>Create a dealer</a></li>
              <li><a href="/register"> <i class="icon-grid"></i>Create a user</a></li>
              <li><a href="{{ path('concession_index') }}"> <i class="icon-grid"></i>Dealer's list</a></li>
              <li><a href="{{ path('user_index') }}"> <i class="icon-grid"></i>User's list</a></li>
              <li><a href="{{ path('adminUserList') }}"> <i class="icon-grid"></i>Client's list</a></li>
            <li><i class="icon-form"></i>My sellers</li>
                    <li><a href="{{ path('vehiculephysique_validation_index') }}"> <i class="icon-grid"></i>vehicle validation</a></li>
                    <li><a href="{{ path('vehiculephysique_index') }}"> <i class="icon-grid"></i>Auto Parc</a></li>
            <li><i class="icon-form"></i>Livraisons</li>
                    <li><a href="{{ path('adminlivraisonEnAttente_index') }}"> <i class="icon-grid"></i>Awaiting deliveries</a></li>
                    <li><a href="{{ path('adminlivraison_index') }}"> <i class="icon-grid"></i>Done deliveries</a></li>
            <li><i class="icon-grid"></i>Contact</li>
                    <li><a href="{{ path('contact_index') }}"> <i class="icon-grid"></i>Contact requests</a></li>
                    <li><a href="{{ path('demandeessai_index') }}"> <i class="icon-grid"></i>Trial requests</a></li>
            <li><i class="icon-grid"></i>Carify Comparator</li>
                    <li><a href="{{ path('vehicledefinition_new') }}"> <i class="icon-grid"></i>Add a vehicle</a></li>
                    <li><a href="{{ path('vehicledefinition_index') }}"> <i class="icon-grid"></i>List of vehicle</a></li>
          </ul>
        </div>
        <div class="admin-menu">
          <h5 class="sidenav-heading">STATISTICS</h5>
          <ul id="side-admin-menu" class="side-menu list-unstyled">
              <li>
                  <a href="{{ path('adminStats') }}"> <i class="fa fa-bar-chart"></i>Statistics</a>
              </li>
          </ul>
        </div>
          <div class="admin-menu">
              <h5 class="sidenav-heading">ARTICLES</h5>
              <ul id="side-admin-menu" class="side-menu list-unstyled">
                  <li><i class="icon-grid"></i>Managing articles</li>
                  <li><a href="{{ path('article_admin_new') }}"> <i class="icon-grid"></i>Create an article</a></li>
                  <li><a href="{{ path('article_admin_index') }}"> <i class="icon-grid"></i>List of articles</a></li>

              </ul>
          </div>
      </div>
    </nav>
    <div class="page">
      <!-- navbar-->


      <header class="header">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <div class="navbar-header"><a id="toggle-btn" href="{{ path('adminHomepage') }}" class="menu-btn"><i class="icon-bars"> </i></a><a href="index.html" class="navbar-brand">
                  <div class="brand-text d-none d-md-inline-block"><span>Carify </span><strong class="text-primary">TECH</strong></div></a></div>
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Notifications dropdown-->
                <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell"></i><span class="badge badge-warning">12</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item">

                    <li><a rel="nofollow" href="#" class="dropdown-item">
                        <div class="notification d-flex justify-content-between">
                          <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                          <div class="notification-time"><small>4 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item">
                        <div class="notification d-flex justify-content-between">
                          <div class="notification-content"><i class="fa fa-upload"></i>Server Rebooted</div>
                          <div class="notification-time"><small>4 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item">
                        <div class="notification d-flex justify-content-between">
                          <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                          <div class="notification-time"><small>10 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-bell"></i>view all notifications                                            </strong></a></li>
                  </ul>
                </li>
                <!-- Languages dropdown    -->
                <li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><span class="d-none d-sm-inline-block">English</span></a>
                  <ul aria-labelledby="languages" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item"> <img src="img/flags/16/DE.png" alt="English" class="mr-2"><span>German</span></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item"> <img src="img/flags/16/FR.png" alt="English" class="mr-2"><span>French                                                         </span></a></li>
                  </ul>
                </li>
                <!-- Log out-->
                <li class="nav-item"><a href="{{ path('fos_user_security_logout') }}" class="nav-link logout"> <span class="d-none d-sm-inline-block">Logout</span><i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      {% endblock header %}

        {% block body %}{% endblock %}
        {% block fos_user_content %}{% endblock %}

        <!-- Counts Section -->
        {% block footer %}
      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Carify ltd</p>
            </div>
            <div class="col-sm-6 text-right">
              <p><a href="https://carify.com" class="external">KM development</a></p>
              <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
            </div>
          </div>
        </div>
      </footer>
    </div>
        
        {% endblock %}


             <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/charts-home.js"></script>
    <!-- Main File-->
    <script src="js/front.js"></script>

    <!-- Requête Ajax -->
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="js/front.js"></script>
             <script src="{{ asset('build/rechercheVehiculeAdmin.js') }}"></script>

             <script>$(document).on('change', '#appbundle_vehicledefinition_marque, #appbundle_vehicledefinition_model', function () {
             let $field = $(this)
             let $marqueField = $('#appbundle_vehicledefinition_marque')
             let $form = $field.closest('form')
             let target = '#' + $field.attr('id').replace('model', 'version').replace('marque', 'model')
             // Les données à envoyer en Ajax
             let data = {}
             data[$marqueField.attr('name')] = $marqueField.val()
             data[$field.attr('name')] = $field.val()
             // On soumet les données
             $.post($form.attr('action'), data).then(function (data) {
                 // On récupère le nouveau <select>
                 let $input = $(data).find(target)
                 // On remplace notre <select> actuel
                 $(target).replaceWith($input)
             })
         })</script>



             {% block javascripts %}
        
        {% endblock %}
    </body>
</html>