{% extends 'admin/adminBase.html.twig' %}


{% block stylesheets %}
  
{% endblock %}

{% block body %}





<h1>Acchats de ce client</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>

            <tr>
                <th>Concessionaire</th>
                <th>Marque</th>
                <th>Model</th>             
                <th>PrixHT</th>
                <th>Type</th>
                
            </tr>

            </thead>

            <tbody>

            {% for cartContent in cartContents %}

                    <tr>
                        <td>{{cartContent.vehiculephysique.concession}}</td>
                        <td>{{cartContent.vehiculephysique.version.model.marque}}</td>
                        <td>{{cartContent.vehiculephysique.version.model.nom}}</td>
                        <td>{{cartContent.vehiculephysique.prixHT}}</td>
                        <td>{{cartContent.vehiculephysique.version.model.typeVehicule}}</td>
                       
                        
                    </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

        


 <td><a href="{{ path('adminUserList') }}" class="btn btn-primary">Retour à la liste des acheteurs</a></td>










{% endblock %}







 


{% block javascripts %}
   
{% endblock %}