{% block stylesheets %}

{% endblock %}

{% block body %}


    {{ form_start(form) }}
    {{ form_widget(form) }}

    {{ form_end(form) }}



    {# Pour les ventes totales #}
  <h4>Vente Totale de Vehicules: {{venteTotalesCompte}}</h4>

    {% for venteTotales in venteTotales %}
      <h6>Date de vente: {{ venteTotales.dateVente|date('Y-m-d')}}</h6>

      <p>Vehicule : {{ venteTotales.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteTotales.cartContent.vehiculePhysique.version.model.nom }} {{ venteTotales.cartContent.vehiculePhysique.version.nom }}</p>
    {% endfor %}
    {# Fin ventes totales #}

  <hr>

    
{# Ventes annuelles #}

  <h4>Ventes annuelles</h4>

    {% for venteAnnuelles in venteAnnuelles %}
      <h6>Date de vente: {{ venteAnnuelles.dateVente|date('Y-m-d')}}</h6>

      <p>Vehicule : {{ venteAnnuelles.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteAnnuelles.cartContent.vehiculePhysique.version.model.nom }} {{ venteAnnuelles.cartContent.vehiculePhysique.version.nom }}</p>
    {% endfor %}

    {# Fin ventes annuelles #}
  <hr>

{# Ventes par trimestres #}

  <h4>Vente par trimestres</h4>


    {# Ventes 1er trimestre #}

  <h5>Vente du premier trimestre</h5>

    {% for venteTrimUn in venteTrimUn %}

      <h6>Date de vente: {{ venteTrimUn.dateVente|date('Y-m-d')}}</h6>

      <p>Vehicule : {{ venteTrimUn.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteTrimUn.cartContent.vehiculePhysique.version.model.nom }} {{ venteTrimUn.cartContent.vehiculePhysique.version.nom }}</p>
      

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


    {# Fin ventes 1er trimestre #}

    {# Ventes 2eme trimestre #}

  <h5>Vente du deuxiemme trimestre</h5>

    {% for venteTrimDeux in venteTrimDeux %}

      <h6>Date de vente: {{ venteTrimDeux.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteTrimDeux.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteTrimDeux.cartContent.vehiculePhysique.version.model.nom }} {{ venteTrimDeux.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


    {# Fin ventes 2eme trimestre #}


    {# Ventes 3eme trimestre #}

  <h5>Vente du troisième trimestre</h5>

    {% for venteTrimTrois in venteTrimTrois %}

      <h6>Date de vente: {{ venteTrimTrois.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteTrimTrois.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteTrimTrois.cartContent.vehiculePhysique.version.model.nom }} {{ venteTrimTrois.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


    {# Fin ventes 3eme trimestre #}

    {# Ventes 4eme trimestre #}

  <h5>Vente du quatrième trimestre</h5>

    {% for venteTrimQuatre in venteTrimQuatre %}

      <h6>Date de vente: {{ venteTrimQuatre.dateVente|date('Y-m-d')}}</h6>

      <p>Vehicule : {{ venteTrimQuatre.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteTrimQuatre.cartContent.vehiculePhysique.version.model.nom }} {{ venteTrimQuatre.cartContent.vehiculePhysique.version.nom }}</p>
        

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


    {# Fin ventes 4eme trimestre #}


    {# Fin ventes trimestres #}

<hr>

  <h4>Vente par mois</h4>



{# Ventes par mois #}

  <h5>Vente de Janvier</h5>

    {% for venteJanvier in venteJanvier %}

      <h6>Date de vente: {{ venteJanvier.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteJanvier.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteJanvier.cartContent.vehiculePhysique.version.model.nom }} {{ venteJanvier.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


  <h5>Vente de Fevrier</h5>

    {% for venteFevrier in venteFevrier %}

      <h6>Date de vente: {{ venteFevrier.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteFevrier.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteFevrier.cartContent.vehiculePhysique.version.model.nom }} {{ venteFevrier.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


    <h5>Vente de Mars</h5>

    {% for venteMars in venteMars %}

      <h6>Date de vente: {{ venteMars.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteMars.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteMars.cartContent.vehiculePhysique.version.model.nom }} {{ venteMars.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


        <h5>Vente de Avril</h5>

    {% for venteAvril in venteAvril %}

      <h6>Date de vente: {{ venteAvril.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteAvril.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteAvril.cartContent.vehiculePhysique.version.model.nom }} {{ venteAvril.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


          <h5>Vente de Mai</h5>

    {% for venteMai in venteMai %}

      <h6>Date de vente: {{ venteMai.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteMai.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteMai.cartContent.vehiculePhysique.version.model.nom }} {{ venteMai.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


             <h5>Vente de Juin</h5>

    {% for venteJuin in venteJuin %}

      <h6>Date de vente: {{ venteJuin.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteJuin.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteJuin.cartContent.vehiculePhysique.version.model.nom }} {{ venteJuin.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


    <h5>Vente de Juillet</h5>

    {% for venteJuillet in venteJuillet %}

      <h6>Date de vente: {{ venteJuillet.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteJuillet.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteJuillet.cartContent.vehiculePhysique.version.model.nom }} {{ venteJuillet.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


      <h5>Vente de Aout</h5>

    {% for venteAout in venteAout %}

      <h6>Date de vente: {{ venteAout.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteAout.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteAout.cartContent.vehiculePhysique.version.model.nom }} {{ venteAout.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


       <h5>Vente de Septembre</h5>

    {% for venteSeptembre in venteSeptembre %}

      <h6>Date de vente: {{ venteSeptembre.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteSeptembre.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteSeptembre.cartContent.vehiculePhysique.version.model.nom }} {{ venteSeptembre.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}



         <h5>Vente de Octobre</h5>

    {% for venteOctobre in venteOctobre %}

      <h6>Date de vente: {{ venteOctobre.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteOctobre.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteOctobre.cartContent.vehiculePhysique.version.model.nom }} {{ venteOctobre.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


          <h5>Vente de Novembre</h5>

    {% for venteNovembre in venteNovembre %}

      <h6>Date de vente: {{ venteNovembre.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteNovembre.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteNovembre.cartContent.vehiculePhysique.version.model.nom }} {{ venteNovembre.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}


    <h5>Vente de Decembre</h5>

    {% for venteDecembre in venteDecembre %}

      <h6>Date de vente: {{ venteDecembre.dateVente|date('Y-m-d')}}</h6>

       <p>Vehicule : {{ venteDecembre.cartContent.vehiculePhysique.version.model.marque.nom }} {{ venteDecembre.cartContent.vehiculePhysique.version.model.nom }} {{ venteDecembre.cartContent.vehiculePhysique.version.nom }}</p>
       

    {% else %}

      <p> pas de ventes ce trimestre </p>

    {% endfor %}








{% endblock %}






{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>







{% endblock %}