{% extends "admin/adminBase.html.twig"%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/user.css') }}">
    <link rel="stylesheet" href="{{ asset('build/head_admin.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}

{% block body %}



    <div class="container">
        <p class="connect"> last connexion : {{ app.user.lastLogin|date("d/m/Y") }}</p>
        <div class="row" style="display: flex;" id="cardForUser">
            <div id="profil" class="col-12 card">
                <div class="card-header">
                    <h3>My Profile</h3>
                </div>
                <ul>
                    <li><span>Username :</span> {{ app.user.username }}</li>
                    <li><span>Email:</span> {{ app.user.email }}</li>
                    <li><span>Firstname :</span> {{ app.user.prenom }}</li>
                    <li><span>Lastname :</span> {{ app.user.nom }}</li>
                    <li><span>Birthday:</span> {{ app.user.dateNaissance|date('Y-m-d') }}</li>
                    <li><span>Adress :</span> {{ app.user.adresse }} {{ app.user.codePostal }} {{ app.user.ville }}</li>
                    <li><span>Phone :</span> {{ app.user.numeroTelephone }}</li>

                </ul>

                <a href="/profile/edit"><button> Modify profile</button></a>
            </div>
        </div>
    </div>
{% endblock %}