{% extends 'admin/adminBase.html.twig' %}


{% block stylesheets %}
  
{% endblock %}

{% block body %}

<h1>Customer's purchases</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>

            <tr>
                <th>Dealership</th>
                <th>Brand</th>
                <th>Model</th>             
                <th>Delivery</th>
                <th>Price TTC</th>
                <th>Total</th>


            </tr>

            </thead>

            <tbody>

            {% for cartContent in cartContents %}

                    <tr>
                        <td>{{cartContent.vehiculephysique.concession}}</td>
                        <td>{{cartContent.vehiculephysique.version.model.marque}}</td>
                        <td>{{cartContent.vehiculephysique.version.model}}</td>
                        <td>{{cartContent.vente.livraison.modeDeLivraison.nom}} {{cartContent.vente.livraison.modeDeLivraison.prix}}$</td>
                        <td>{{cartContent.vehiculephysique.prixTTC}}</td>
                        <td style="color: red;font-weight: bold">{{cartContent.vehiculephysique.prixTTC + cartContent.vente.livraison.modeDeLivraison.prix}}$</td>
                        
                       
                        
                    </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

        


 <td><a href="{{ path('adminUserList') }}" class="btn btn-primary">Back to customer's list</a></td>










{% endblock %}







 


{% block javascripts %}
   
{% endblock %}