{% extends 'base.html.twig' %}
{% block body %}

    <section class="jumbotron text-center" id="contactForm">
        <div class="container">
            <div class=" animated fadeInRight ">
                <br><br>
                <hr class="trait">
                <h1 class="titreAccueil text-center text-monospace text-uppercase">Demande d'essai</h1>
                <hr class="trait">
                <br><br>
            </div>
            <p class="lead text-muted">
                Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et obtenir la communication des informations vous concernant, toute demande en ce sens transmise doit être transmise au responsable de traitement
                via l'adresse postale  ou via l'email.
            </p>
            <i data-feather="alert-triangle" style="color:red;"></i> * Champs obligatoires.
            <br>
            <br>
            <section class="contact-section col-md-12">

                <!-- Form with header -->
                <div class="card">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-8">
                            {{ form_start(form, { 'attr': {'id': 'info'} } ) }}
                            <div class="card-body form">

                                <!-- Header -->
                                <h3 id="test" class="mt-4"><i class="fa fa-envelope pr-2"></i>Demandez un essai:</h3>

                                <!-- Grid row -->
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            {{ form_widget(form.nomSteContact, { 'attr': {'class': 'form-control'} }) }}
                                            <label for="form-contact-name" class="nom">Saisissez le nom de votre société</label>
                                            <p id="nom_id" class="text-left red-text animated bounce">Saisissez le nom de votre société</p>
                                            <p id="nom_valid" class="text-left red-text animated bounce">Veuillez saisir un nom de société valide.</p>
                                        </div>
                                    </div>

                                    <!-- Grid column -->
                                    <div class="col-md-2">
                                        <div class="md-form mb-0">
                                            {{ form_widget(form.civiliteContact, { 'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.civiliteContact) }}
                                        </div>
                                    </div>

                                    <!-- Grid column -->
                                    <div class="col-md-5">
                                        <div class="md-form mb-0">
                                            {{ form_widget(form.nomContact, { 'attr': {'class': 'form-control text-uppercase'} }) }}
                                            <label for="form-contact-name" class="nom">Nom</label>
                                            <p id="nom_id" class="text-left red-text animated bounce">Veuillez saisir votre nom</p>
                                            <p id="nom_valid" class="text-left red-text animated bounce">Veuillez saisir un nom valide.</p>
                                        </div>
                                    </div>

                                    <!-- Grid column -->
                                    <div class="col-md-5">
                                        <div class="md-form mb-0">
                                            {{ form_widget(form.prenomContact, { 'attr': {'class': 'form-control text-capitalize'} }) }}
                                            <label for="form-contact-name" class="">Prénom</label>
                                            <p id="prenom_id" class="text-left red-text animated bounce">Veuillez saisir votre prénom.</p>
                                            <p id="prenom_valid" class="text-left red-text animated bounce">Veuillez saisir un prénom valide</p>

                                        </div>
                                    </div>

                                    <!-- Grid column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            {{ form_widget(form.emailContact, { 'attr': {'class': 'form-control'} }) }}
                                            <label for="form-contact-email" class="">Email</label>
                                            <p id="email_id" class="text-left red-text animated bounce">Veuillez saisir une adresse mail.</p>
                                            <p id="email_valid" class="text-left red-text animated bounce">Veuillez saisir une adresse email valide</p>
                                        </div>
                                    </div>

                                    <!-- Grid column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            {{ form_widget(form.phoneContact, { 'attr': {'class': 'form-control'} }) }}
                                            <label for="form-contact-phone" class="">Votre téléphone</label>
                                            <p id="telephone_id" class="text-left red-text animated bounce">Veuillez saisir votre téléphone.</p>
                                            <p id="telephone_valid" class="text-left red-text animated bounce">Veuillez saisir un numéro de téléphone valide.</p>

                                        </div>
                                    </div>
                                </div>

                                <!-- Grid row -->
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            {{ form_widget(form.adresseContact, { 'attr': {'class': 'form-control', 'placeholder': ""} }) }}
                                            <label for="form-contact-company" class="">Votre adresse</label>
                                            <p id="adresse_id" class="text-left red-text animated bounce">Veuillez saisir votre adresse.</p>

                                        </div>
                                    </div>
                                </div>

                                <!-- Grid row -->
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            {{ form_widget(form.codePostalContact, { 'attr': {'class': 'form-control', 'placeholder': ""} }) }}
                                            <label for="form-contact-company" class="">Votre code postale</label>
                                            <p id="adresse_id" class="text-left red-text animated bounce">Veuillez saisir votre code postale.</p>

                                        </div>
                                    </div>
                                </div>

                                <!-- Grid row -->
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            {{ form_widget(form.villeContact, { 'attr': {'class': 'form-control', 'placeholder': ""} }) }}
                                            <label for="form-contact-company" class="">Votre ville</label>
                                            <p id="adresse_id" class="text-left red-text animated bounce">Veuillez saisir votre ville.</p>

                                        </div>
                                    </div>
                                </div>

                                <!-- Grid row -->
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            {{ form_widget(form.messageContact, { 'attr': {'class': 'form-control md-textarea'} }) }}
                                            <label for="form-contact-message">Votre message</label>
                                            {{ form_row(form._token) }}
                                            <button type="submit" class="btn btn-outline-primary waves-effect" id="Envoyer">Envoyer <i class="fab fa-telegram-plane"></i></button>
                                        </div>
                                    </div>
                                    <!-- Grid column -->
                                </div>
                                <!-- Grid row -->
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        {% for vehPhy in VehPhys %}
                        <div class="col-lg-4">
                            <div class="card-body contact text-center h-100 white-text">
                                <h3 class="my-4 pb-2 white-text">Véhicule</h3>
                                <hr class="hr-light my-4">
                                <ul class="text-lg-left list-unstyled ml-4">
                                    <li>
                                        <p class="contact-adresse text-center white-color"><a href="#myModal" role="button" ><img src="/images/photosVehiculePhysique/{{ vehPhy.imageName }}" width="80" height="auto"></a></p>
                                    </li>
                                    <li>
                                        <p class="contact-adresse text-center white-text"><i data-feather="phone"></i> Marque :</p>
                                        <p class="contact-adresse text-center white-color">{{ vehPhy.version.model.marque }} {{ vehPhy.version.model }} {{ vehPhy.marque }}</p>
                                    </li>
                                    <li>
                                        <p class="contact-adresse text-center white-text"><i data-feather="phone"></i> Modèle :</p>
                                        <p class="contact-adresse text-center white-color">{{ vehPhy.version.model.marque }} {{ vehPhy.version.model }}</p>
                                    </li>
                                    <li>
                                        <p class="contact-adresse text-center white-text"><i data-feather="phone"></i> Mise en Circulation :</p>
                                        <p class="contact-adresse text-center white-color"> {{ vehPhy.dateDeMiseEnCirculation|date('d-m-Y') }}</p>
                                    </li>
                                    <li>
                                        <p class="contact-adresse text-center white-text"><i data-feather="phone"></i> Prix :</p>
                                        <p class="contact-adresse text-center white-color"> {{ vehPhy.prixHT }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
                <!-- Form with header -->
            </section>
        </div>
    </section>

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-primary">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}



