{% extends 'admin/adminBase.html.twig' %}

{% block body %}
    <h1>Brand creation</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.nom, 'New brand name : ') }}
        {{ form_widget(form.nom, {'attr':{class:'form-control'}}) }}
        {{ form_errors(form.nom) }}
    </div>

    <div class="form-group">
        {{ form_label(form.imageFile, 'Upload brand logo : ') }}
        {{ form_widget(form.imageFile) }}
        {{ form_errors(form.imageFile) }}
    </div>

    <div class="form-group">
        {{ form_label(form.actif, 'actif') }}
        {{ form_widget(form.actif) }}
        {{ form_errors(form.actif) }}
    </div>

    <input class="btn btn-primary" type="submit" value="create a brand" />
    {{ form_end(form) }}

    <p>
        <a href="{{ path('vehicledefinition_new') }}">Back to create a vehicle definition</a>
    </p>
{% endblock %}
